@model FixturesViewModel

@{
    ViewData["Title"] = "Home Page";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}
<script>
    $("document").ready(function () {
        $(".head").click(function () {
            $(this).find('th').toggleClass('active');
        });
    });
</script>

<div class="fixtureswrapper">
    <table class="col-lg-8 col-lg-offset-2">
        <tr class="toprow" style="width:100%">
            <td></td>     @* STYLE HACK *@
            <th class="matchtype">Fixtures</th>
            <td class="datepicker">
                <input label="Date: " type="text" id="myDatepicker"
                       placeholder="@Model.date.DayOfWeek    @Model.date.Day/@Model.date.Month/@Model.date.Year" />
            </td>
        </tr>

        @if (@Model.fixtureLists.Any(i => i != null))
        {

            @foreach (FixtureList list in @Model.fixtureLists)
            {
                @if (list != null)
                {
                    <tr class="head" data-toggle="collapse" data-target=".fixtures_@list.fixtures[0].leagueId">
                        <td class="flag"><img src="@list.imageUrl"></td>
                        <th class="leaguetitle" colspan="2">@list.leagueName</th>
                    </tr>
                    @for (int i = 0; i < list.fixtures.Count; i++)
                    {
                        <tr class= "collapse fixtures_@list.fixtures[0].leagueId @(list.fixtures[i].Strong ? "strong" : "")">
                            <td class="time">@DateTime.Parse(list.fixtures[i].utcDate).ToShortTimeString()</td>
                            @if (list.fixtures[i].finished)
                            {
                                <td class="details">
                                    @list.fixtures[i].homeTeamName [@list.fixtures[i].homeScore]
                                    V [@list.fixtures[i].awayScore] @list.fixtures[i].awayTeamName
                                </td>
                            }
                            else if (list.fixtures[i].predictedHomeScore != -1)
                            {
                                <td class="details">
                                    @list.fixtures[i].homeTeamName [@list.fixtures[i].predictedHomeScore]
                                    V [@list.fixtures[i].predictedAwayScore] @list.fixtures[i].awayTeamName
                                </td>
                            }
                            else if (!list.fixtures[i].postponed)
                            {
                                <td class="details">
                                    @list.fixtures[i].homeTeamName V @list.fixtures[i].awayTeamName
                                </td>
                            }
                            else
                            {
                                <td class="details">
                                    @list.fixtures[i].homeTeamName V @list.fixtures[i].awayTeamName     [POSTPONED]
                                </td>
                            }

                            <td class="details">
                                @if (list.fixtures[i].finished)
                                {
                                    <a class="btn btn-primary" asp-controller="Match" asp-action="Match" asp-route-matchId="@list.fixtures[i].matchId"
                                       asp-route-flagUrl="@list.imageUrl">Result Details</a>
                                }
                                else if (!list.fixtures[i].postponed)
                                {
                                    <a class="btn btn-primary" asp-controller="Match" asp-action="Match" asp-route-matchId="@list.fixtures[i].matchId"
                                       asp-route-flagUrl="@list.imageUrl">Prediction</a>
                                }
                            </td>
                        </tr>

                    }
                }
            }
            <tr class="predictionstats">
                <td class="correctpredictions"  style="padding-top: 60px; "colspan="2">Correct Predictions : @Model.predictionStats.totalCorrect/@Model.predictionStats.totalPredictions (%@Model.predictionStats.correctPercentage)</td>
            </tr>
            <tr class="predictionstats">
                <td class="correctpredictions" colspan="2">Correct Scores : @Model.predictionStats.totalCorrectScore/@Model.predictionStats.totalPredictions (%@Model.predictionStats.correctScorePercentage)</td>
            </tr>
        }
        else
        {
            <tr class="nofixturesrow">
                <td class="nofixtures"><h2>No Fixtures, Select Another Date</h2></td>
            </tr>
        }
    </table>

</div>


<script>
    $("#myDatepicker").datepicker({
        minDate: '-8D',
        maxDate: '+4D',
        onSelect: function () {
        date = new Date(this.value);
        url = "?dateString=" + date.toString();
        index = window.location.href.indexOf("/");
        window.location.href = window.location.href.substring(0, index) + url;
    }
});
</script>


