@model LeaguesViewModel
@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="@Url.Content("~/css/leagues.css")" rel="stylesheet" type="text/css" />
}
<div class="buttons">
    <div class="dropdown">
        <button class="dropbtn btn dropdown-toggle">@Model.leagueType</button>
        <div class="dropdown-content">
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="0">Overall</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="1">Home</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="2">Away</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn  btn dropdown-toggle" style="margin-left: 10px">@Model.shortLeagueTitle</button>
        <div class="dropdown-content">
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2021" asp-route-leagueTypeCode="@Model.leagueTypeCode">Premier League</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2016" asp-route-leagueTypeCode="@Model.leagueTypeCode">Championship</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2030" asp-route-leagueTypeCode="@Model.leagueTypeCode">League One</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2014" asp-route-leagueTypeCode="@Model.leagueTypeCode">La Liga</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2077" asp-route-leagueTypeCode="@Model.leagueTypeCode">Segunda Division</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2002" asp-route-leagueTypeCode="@Model.leagueTypeCode">Bundesliga</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2004" asp-route-leagueTypeCode="@Model.leagueTypeCode">Bundesliga 2</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2019" asp-route-leagueTypeCode="@Model.leagueTypeCode">Serie A</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2121" asp-route-leagueTypeCode="@Model.leagueTypeCode">Serie B</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2015" asp-route-leagueTypeCode="@Model.leagueTypeCode">Ligue 1</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2142" asp-route-leagueTypeCode="@Model.leagueTypeCode">Ligue 2</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2084" asp-route-leagueTypeCode="@Model.leagueTypeCode">SPL</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2003" asp-route-leagueTypeCode="@Model.leagueTypeCode">Eredivisie</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2017" asp-route-leagueTypeCode="@Model.leagueTypeCode">Primeira Liga</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2009" asp-route-leagueTypeCode="@Model.leagueTypeCode">Pro League</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2145" asp-route-leagueTypeCode="@Model.leagueTypeCode">MLS</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2137" asp-route-leagueTypeCode="@Model.leagueTypeCode">RFPL</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2013" asp-route-leagueTypeCode="@Model.leagueTypeCode">Serie A(Brazil)</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2008" asp-route-leagueTypeCode="@Model.leagueTypeCode">A League</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2024" asp-route-leagueTypeCode="@Model.leagueTypeCode">Superliga (Argentina)</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2119" asp-route-leagueTypeCode="@Model.leagueTypeCode">J League</a>
        </div>
    </div>
</div>
<div class="ptable col-md-offset-7">

    <h1 class="headin">@Model.longLeagueTitle</h1>

    <table>
        <tr class="col">
            <th>Pos</th>
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>GF</th>
            <th>GA</th>
            <th>PTS</th>
        </tr>
        @foreach (LeagueEntry entry in Model.leagues)
        {
            <tr class="wpos">
                <td>@entry.position</td>
                <td>@entry.name</td>
                <td>@entry.matchesPlayed</td>
                <td>@entry.won</td>
                <td>@entry.drawn</td>
                <td>@entry.lost</td>
                <td>@entry.goalDifference</td>
                <td>@entry.goalsFor</td>
                <td>@entry.goalsAgainst</td>
                <td>@entry.points</td>
            </tr>
        }
    </table>

</div>