@model List<LeagueEntry>
@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="@Url.Content("~/css/leagues.css")" rel="stylesheet" type="text/css" />
}

<div class="ptable">
    <h1 class="headin">Standings</h1>
    <table>
        <tr class="col">
            <th>Pos</th>
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>GF</th>
            <th>GA</th>
            <th>PTS</th>
        </tr>
        @foreach (LeagueEntry entry in Model)
        {
            <tr class="wpos">
                <td>@entry.position</td>
                <td>@entry.name</td>
                <td>@entry.matchesPlayed</td>
                <td>@entry.won</td>
                <td>@entry.drawn</td>
                <td>@entry.lost</td>
                <td>@entry.goalDifference</td>
                <td>@entry.goalsFor</td>
                <td>@entry.goalsAgainst</td>
                <td>@entry.points</td>
            </tr>
        }
    </table>
</div>