@model LeaguesViewModel
@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="@Url.Content("~/css/leagues.css")" rel="stylesheet" type="text/css" />
}
<div class="buttons">
    <div class="dropdown" >
        <button class="dropbtn btn dropdown-toggle" id="leaguetypebutton">@Model.leagueType</button>
        <div class="dropdown-content" id="leaguetype">
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="0">Overall</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="1">Home</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="@Model.leagueCode" asp-route-leagueTypeCode="2">Away</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn btn dropdown-toggle" id="leaguebutton" style="margin-left: 10px">@Model.shortLeagueTitle</button>
        <div class="dropdown-content" id="league">
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2021" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/english-flag-small.jpg" />Premier League</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2016" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/english-flag-small.jpg" />Championship</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2030" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/english-flag-small.jpg" />League One</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2014" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/spanish-flag-small.jpg" />La Liga</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2077" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/spanish-flag-small.jpg" />Segunda Division</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2002" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/german-flag-small.jpg" />Bundesliga</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2004" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/german-flag-small.jpg" />Bundesliga 2</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2019" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/italian-flag-small.jpg" />Serie A</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2121" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/italian-flag-small.jpg" />Serie B</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2015" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/french-flag-small.jpg" />Ligue 1</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2142" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/french-flag-small.jpg" />Ligue 2</a>*@
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2084" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/scotland-flag-large.jpg" />SPL</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2003" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/dutch-flag-small.jpg" />Eredivisie</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2017" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/portuguese-flag-small.jpg" />Primeira Liga</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2009" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/belgian-flag-small.jpg" />Pro League</a>*@
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2145" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/american-flag-small.jpg" />MLS</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2137" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/russian-flag-small.jpg" />RFPL</a>*@
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2013" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/brazilian-flag-small.jpg" />Serie A</a>
            @*<a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2008" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/australian-flag-small.jpg" />A League</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2024" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/argentinian-flag-small.jpg" />Superliga</a>
            <a asp-controller="Leagues" asp-action="Leagues" asp-route-leagueCode="2119" asp-route-leagueTypeCode="@Model.leagueTypeCode"><img src="~/images/japanese-flag-small.jpg" />J League</a>*@
        </div>
    </div>
</div>
<div class="ptable col-md-offset-7">

    <h1 class="heading">@Model.longLeagueTitle</h1>

    <table>
        <tr class="col">
            <th id="position">Pos</th>
            <th id="team">Team</th>
            <th id="gamesplayed">GP</th>
            <th id="won">W</th>
            <th id="drawn">D</th>
            <th id="lost">L</th>
            <th id="goaldifference">GD</th>
            <th id="goalsfor">GF</th>
            <th id="goalsagainst">GA</th>
            <th id="points">PTS</th>
        </tr>
        @foreach (LeagueEntry entry in Model.leagues)
        {
        <tr class="wpos">
            <td>@entry.position</td>
            <td class="teamname">@entry.name</td>
            <td>@entry.matchesPlayed</td>
            <td>@entry.won</td>
            <td>@entry.drawn</td>
            <td>@entry.lost</td>
            <td>@entry.goalDifference</td>
            <td>@entry.goalsFor</td>
            <td>@entry.goalsAgainst</td>
            <td>@entry.points</td>
        </tr>
        }
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $('.wpos:even').css('color', 'gold');

    $('.col th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        var id = $(this).attr('id');
        if (this.asc && id != "position" && id != "team") { rows = rows.reverse() }
        else if (!this.asc && (id == "position" || id == "team")) { console.log("was here");rows = rows.reverse() }
        for (var i = 0; i < rows.length; i++){ table.append(rows[i]) }
        $('.wpos:even').css('color', 'gold');
        $('.wpos:odd').css('color', 'greenyellow');
    });

    function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>